[Unit]
Description=Omenhsa Client Service
After=multi-user.target 

[Service]
ExecStart=/usr/local/bin/Omenhsa
Type=oneshot

[Install]
WantedBy=multi-user.target
